@model List<BoldQuizMVC.Models.QuestionViewModels>
@{
    
    Layout = null;
}


@* For every question, it will show up the main question and then the and responsible answers as well. NameFor is the location of the object in the array - the range is 0-9. *@

<form method="post" action="/Quiz/submitQuiz"> 
   @for (int i = 0; i < Model.Count; i++)

   {
       
         var item = Model[i];
        <input type="hidden" name="@Html.NameFor(x=> Model[i].QuestionTitle)" value=" @item.QuestionID" />
        <div>
            <strong>@item.QuestionTitle</strong>
    <ul style="list-style: none;">
        @foreach (var answer in item.Answers)
        {
            <li><input type="radio" name=" @item.QuestionID" value="@answer.AnswerText" />@answer.AnswerText </li>

        }
    </ul>






</div>

    }
    <button> Godkend </button>
</form>

