@model Models.Room
@{
    ViewBag.Title = "Details";
}

<h1>Detaljer</h1>

<h2>@Model.Section.Name </h2>
<button> Inviter ven </button>
<h3> @Model.Point Point</h3>

@* For every level name, it's get passed in the button. Data-toggle="modal" opens the modal window and data-target="#myModal" points tot the id of the modal.
   Linie 22-->. If the level IsUnlocked(true), then it is not greyed out. If it is greyed out then it is disabled.


*@
<div class="level_buttons">
@foreach (var item in Model.Levels)
    
{
    
    if (item.IsUnlocked)
    {
        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-id="@item.Level.ID">@item.Level.Name</button>

    }
    else
    {
        <button type="button" class="btn btn-primary btn-lg" disabled>@item.Level.Name</button>
    }

}
</div>
<!-- Modal BootStrap -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Spørgsmål</h4>
            </div>
            <div class="modal-body">
                <iframe id="quizFrame"></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Luk</button>
                <button type="button" class="btn btn-primary">Næste</button>
            </div>
        </div>
    </div>
</div>
<!-- 	$("#---") RelatedTarget you know the id of the level when you click the button -->
<script>$("#myModal").on("show.bs.modal", function (e) {
    var id = e.relatedTarget.dataset.id;
    
    @* jQuery: Selector takes the iframeID and sets both the arguments. roomID assigns to Room.ID *@
    $("#quizFrame").attr("src", "/Quiz/index?levelID=" + id + "&roomID=@(Model.ID)");
})</script>